.search-bar {
	margin: 15px
	text-align: center;

}

.search-bar input {
	width: 59%;
	background-color: #f1c40f;
}

.video-item img {
	max-width: 64px;
	margin-top: 20px
	background-color: #c0392b;
}

.video-detail .details{
	margin-top: 20px;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 7px;
	background-color: #3498db ;
}

.list-group-item {
	cursor: pointer;
	margin-top: 10px;
	background-color: #c0392b;
}

.list-group-item:hover {
	background-color: #2ecc71
}
